<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--优先加载Properties属性文件，用于后面bean的注解,多个文件用逗号隔开-->
    <context:property-placeholder location="classpath:config.properties"/>

    <!--1. 扫描注解，这里过滤掉SpringMVC的注解-->
    <context:component-scan base-package="com.qs">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <import resource="spring-bean.xml"/>
    <import resource="spring-shiro.xml"/>
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-transaction.xml"/>
</beans>