<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="midTask" class="com.qs.task.MidTask" />
    <!--注册定时器类，后面讲 -->
    <!--定时器1 begin-->
    <bean id="midDownTaskInfo"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="midTask" />
        <property name="targetMethod" value="midownloadItemTask" />
        <!--指定定时器任务类要执行的方法名称 这里是midownloadItemTask -->
    </bean>
    <bean id="midDownTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!--配置定时器任务的调度器 -->
        <property name="jobDetail" ref="midDownTaskInfo" />
        <property name="cronExpression" value="0/5 * * * * ?" />
        <!--每隔5秒执行 -->
    </bean>


    <!--注册监听器 -->
    <bean id="registerQuartz"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!--注册定时器实体 集合 -->
        <property name="triggers">
            <list>
                <ref local="midDownTrigger" />
            </list>
        </property>
    </bean>
</beans>